.input {
    width: 100%;
    max-width: 251px;
    height: 45px;
    margin-bottom: 6px;
    padding-left: 15px;
    border-radius: 6px; 
    border: none;
    font-size: 14px;
    font-family: "Roboto-Regular",sans-serif;
    
    &::placeholder {
        color: #2f2f2f;
    }

}

.button {
    width: 100%;
    max-width: 251px;
    height: 57px;
    border-radius: 6px; 
    border: none;
    background-image: linear-gradient(to top, #03c9a9 0%, #13efcb 100%);
    font-size: 18px;
    color: $light;
    font-family: "Roboto-Regular",sans-serif;
}
.policy {
    position: relative;
    margin-top: 12px;
    font-size: 11px;
    &::before,
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 22px;
        height: 24px;
        background: url(../img/element.png) no-repeat;
        top: 0;
        bottom: 0;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    
}