*, *:before, *:after {
    box-sizing: border-box
}
    
body {
    font-family: 'Roboto-Light', sans-serif;
    &.fixed {
        overflow: hidden;
    }
}
.section {
    padding: 50px 0 40px;
    &__title {
        position: relative;
        text-align: center;
        width: 100%;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 32px;
        color: $brown;
        &::after {
            content: "";
            position: absolute;
            text-align: center;
            display: block;
            left: 0;
            right: 0;
            width: 39px;
            height: 20px;
            margin: 0 auto;
            background: url(../img/section_logo.png);  
        }
    }
    

}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1030px;
    padding: 0 15px;
}