*, *:before, *:after {
    box-sizing: border-box
}
    
body {
    font-family: 'Roboto-Light', sans-serif;
    &.fixed {
        overflow: hidden;
    }
}
.section {
    padding: 50px 0 40px;
    &__title {
        position: relative;
        text-align: center;
        width: 100%;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 32px;
        color: $brown;
        &::after {
            content: "";
            position: absolute;
            text-align: center;
            display: block;
            left: 0;
            right: 0;
            width: 39px;
            height: 20px;
            margin: 0 auto;
            background: url(../img/section_logo.png);  
        }
    }
    

}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1030px;
    padding: 0 15px;
}
.input {
    width: 100%;
    max-width: 251px;
    height: 45px;
    margin-bottom: 6px;
    border-radius: 6px; 
    border: none;
    font-family: "Roboto-Regular",sans-serif;
    color: #2f2f2f;
   
}
plaseholder {
    margin-right: 15px;
}

.button {
    width: 100%;
    max-width: 251px;
    height: 57px;
    border-radius: 6px; 
    border: none;
    background-image: linear-gradient(to top, #03c9a9 0%, #13efcb 100%);
}