*, *:before, *:after {
    box-sizing: border-box
}
body {
    font-family: 'Roboto-Light', sans-serif;
    &.fixed {
        overflow: hidden;
    }
}
.section {
    width: 100%;
    padding: 50px 0 40px;
    &__title {
        position: relative;
        text-align: center;
        width: 100%;
        font-family: "RobotoCondensed-Light", sans-serif;
        font-size: 32px;
        color: $brown;
        text-transform: uppercase;
        margin-top: 48px;
        &::after {
            content: "";
            position: absolute;
            text-align: center;
            display: block;
            left: 0;
            right: 0;
            width: 39px;
            height: 20px;
            margin: 0 auto;
            margin-top: 4px;
            background: url(../img/section_logo.png);  
        }
        &--light {
            color: $light;
            &::after {
                background: url(../img/section_logo--light.png);
            }
        }
    }
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1030px;
    padding: 0 15px;
}

label {
    &.invalid{
        color: tomato;
        display: block;
        width: 100%;
    }
   
}
    
.invalid {
    color: tomato;
    width: 100%;
}
    
span.invalid {
    font-size: 14px;
    position: absolute;
    right: 0;
    transform: translateY(100%);
}
   
input {
    &.invalid {
        border-bottom: 1px solid tomato;
    }
    
}

em.invalid {
    position: absolute;
    top: 60px;
}
   