.ouradv {
    position: relative;
    display: flex;
    background: $nude;
    padding-bottom: 67px;
    &-card {
        width: 100%;
        position: relative;
        width: 460px;
        margin-top: 20px;
        &__text {
            width: 100%;
            max-width: 340px;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Roboto-Light', sans-serif;
            p {
                font-size: 15px;
                font-weight: normal;
            }
        }
    }
}

